configuration {
    modi: "drun";
    font: "Iosevka Nerd Font 16";
    matching: "fuzzy";
    case-sensitive: false;
    show-icons: false;
    drun-display-format: "{name}";
    display-drun: "Apps";
    terminal: "st";
    run-shell-command: "{terminal} -e {cmd}";
}

@theme "/dev/null"

* {
    background: #15110f;
    foreground: #c5afa4;
    bright: #e9d1c5;
    muted: #5f5049;
    blue: #944d24;
    background-color: @background;
    text-color: @foreground;
}

window {
    location: center;
    anchor: center;
    width: 720px;
    border: 2px;
    border-color: @muted;
    padding: 12px;
    children: [ mainbox ];
}

mainbox {
    spacing: 8px;
    children: [ inputbar, message, listview ];
}

inputbar {
    spacing: 8px;
    children: [ prompt, entry ];
}

entry {
    placeholder: "";
}

listview {
    lines: 8;
    columns: 1;
    fixed-height: false;
    scrollbar: false;
}

element {
    padding: 4px;
    children: [ element-text ];
}

element selected.normal {
    background-color: @blue;
    text-color: @bright;
}

element-text {
    background-color: inherit;
    text-color: inherit;
    highlight: bold;
}
