cosmic/com.vintagetechie.CosmicExtAppletTempest/
cosmic/dev.DBrox.CosmicSystemMonitor/
cosmic/io.github.cosmic_utils.weather-applet/
cosmic/com.system76.CosmicPortal/v1/screenshot
cosmic/com.system76.CosmicFiles/v1/dialog
cosmic/com.system76.CosmicBackground/v1/all
cosmic/com.system76.CosmicBackground/v1/output.*
cosmic/com.system76.CosmicSettings.Wallpaper/v1/custom-images
cosmic/com.system76.CosmicNotifications/v1/do_not_disturb
