__pycache__/
nvim-pack-lock.json
home/.config/cava/shaders/
home/.config/cava/themes/
home/.config/nnn/sessions/
home/.config/nnn/mounts/
home/.config/nnn/plugins/
desktop/st/*.o
desktop/st/st
desktop/st/patches.h
desktop/st/config.h
