snippet pubf "public function"
	public function ${1}(${2}): $3
	{
		${0}
	}

snippet prof "protected function"
	protected function ${1}(${2}): $3
	{
		${0}
	}

snippet prif "private function"
	protected function ${1}(${2}): $3
	{
		${0}
	}

snippet testt "test function (prefix)"
	public function test_${1}()
	{
		${0}
	}

snippet testa "test function (annotation)"
	/** @test */
	public function ${1}()
	{
		${0}
	}
