Xcursor.theme: Adwaita
Xcursor.size: 24
*.foreground: #DED6D0
*.background: #080503
*.cursorColor: #F1EAE5
*.color0:  #887E78
*.color1:  #E07972
*.color2:  #9E8F85
*.color3:  #B4A094
*.color4:  #C9B2A3
*.color5:  #DBC6B8
*.color6:  #EBDACF
*.color7:  #F3E9E2
*.color8:  #A1968F
*.color9:  #FF8A83
*.color10:  #B3A195
*.color11:  #C8B3A4
*.color12:  #DEC5B5
*.color13:  #F0D9CA
*.color14:  #FAE7DB
*.color15:  #FCF3EE

slock.locked: #080503
slock.input: #B39887
slock.failed: #E07972
slock.capslock: #C69E58
