Xcursor.theme: Adwaita
Xcursor.size: 24
Xft.antialias: 1
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.rgba: rgb
*.foreground: #C8C0B8
*.background: #0A0908
*.cursorColor: #ECE5DE
*.color0:  #1A1715
*.color1:  #956F6B
*.color2:  #788578
*.color3:  #928569
*.color4:  #74818B
*.color5:  #85778A
*.color6:  #6F8782
*.color7:  #C8C0B8
*.color8:  #655F5A
*.color9:  #AD807A
*.color10:  #8C998B
*.color11:  #A99A7A
*.color12:  #87949E
*.color13:  #998A9E
*.color14:  #829A94
*.color15:  #ECE5DE
