layout {

    focus-ring {
        active-color   "#c4693d"
        inactive-color "#121212"
        urgent-color   "#c53030"
    }

    border {
        active-color   "#c4693d"
        inactive-color "#121212"
        urgent-color   "#c53030"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#c4693d"
        inactive-color "#421e0c"
        urgent-color   "#c53030"
    }

    insert-hint {
        color "#c4693d80"
    }
}

recent-windows {
    highlight {
        active-color "#c4693d"
        urgent-color "#c53030"
    }
}
