@import "./gruvbox.css";

* {
  font-family: "BerkeleyMono Nerd Font";
  font-size: 14px;
  min-height: 0;
  margin: 0 2px;
}

window#waybar {
  background-color: transparent;
  border: none;
}

#tags {
  background: @bg0;
  color: @fg0;
  padding: 0 8px;
  margin: 4px 0;
}

#tags button {
  padding: 1px 1px;
  margin: 3px 2px;
  border-radius: 0;
  color: @fg0;
}

#tags button.occupied {
  background: @fg1;
  color: @bgh;
}

#tags button.focused {
  background: @purple;
  color: @bgh;
}

#window {
  font-weight: 600;
  background: @bg0;
  padding: 0 8px;
  margin: 4px 0;
}

.modules-right {
  background: @bg0;
  padding: 0 8px;
  margin: 4px 2px;
}

#clock,
#cpu,
#memory,
#pulseaudio,
#custom-notification,
#custom-media,
#temperature,
#tray {
  padding: 0 8px;
  margin: 4px 0;
}

#clock {
  background: @gray;
  color: @bgh;
}

#cpu {
  background: @yellow;
  color: @bgh;
}

#memory {
  background: @orange;
  color: @bgh;
}

#pulseaudio {
  background: @blue;
  color: @bgh;
}

#pulseaudio.muted {
  background: @red;
}

#tray {
  background: @bg2;
  border: none;
}

#custom-media {
  font-weight: 600;
  background: @bg0;
  color: @green;
}

#temperature {
  background: @aqua;
  color: @bgh;
}
