@import "./rose-pine.css";

* {
    font-family: "BerkeleyMono Nerd Font";
    font-weight: bold;
    font-size: 20px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    border: none;
}

#workspaces {
    background: @base;
    border-radius: 6px;
    padding: 1px 8px;
    margin: 4px 0 4px 8px;
}

#workspaces button {
    padding: 0 8px;
    transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#workspaces button.focused {
    background: linear-gradient(45deg, @love, @iris);
    color: @base;
    border-radius: 6px;
}

#window {
    background: @surface;
    border-radius: 12px;
    padding: 0 16px;
    margin: 4px 0;
}

.modules-right {
    background: @base;
    border-radius: 12px;
    padding: 2px 8px;
    margin: 4px 8px 4px 0;
}

#clock,
#cpu,
#memory,
#pulseaudio,
#custom-notification,
#tray {
    border-radius: 8px;
    padding: 0 16px;
    margin: 4px 2px;
    border: 1px solid transparent;
}

#clock {
    background: linear-gradient(45deg, @foam, @pine);
    color: @base;
}

#cpu {
    background: @iris;
    color: @base;
}

#memory {
    background: @rose;
    color: @base;
}

#pulseaudio {
    background: @gold;
    color: @base;
}

#tray {
    background: @base;
    padding: 0 12px;
}

#custom-notification {
    background: @iris;
    color: @base;
}

#custom-media {
    background: linear-gradient(45deg, @pine, @foam);
    color: @base;
    border-radius: 8px;
    padding: 0 16px;
    margin: 4px 2px;
    border: 1px solid @highlight-high;
}

#custom-media.paused {
    background: @surface;
    color: @text;
    border: 1px solid @overlay;
}

#custom-media.playing {
    background: linear-gradient(45deg, @love, @rose);
    color: @base;
}

#custom-media.paused {
    background: @surface;
    color: @text;
    border: 1px solid @overlay;
}
