@define-color foreground rgba(255, 255, 255, 0.8);
@define-color background hsla(240, 12.7%, 13.9%, 0.98);
@define-color color1 hsl(172, 100%, 25.3%);
@define-color selected-text #fabd2f;
@define-color text #ebdbb2;
@define-color base #282828;
@define-color border #ebdbb2;
@define-color foreground #ebdbb2;
@define-color background #282828;

#window,
#box,
#search,
#password,
#input,
#prompt,
#clear,
#typeahead,
#list,
child,
scrollbar,
slider,
#item,
#text,
#label,
#sub,
#activationlabel {
    all: unset;
}

* {
    font-family: 'SFMono Nerd Font', monospace;
    font-size: 18px;
}

#window {
    background: transparent;
    color: @text;
}

#box {
    background: alpha(@base, 0.95);
    padding: 20px;
    border: 2px solid @border;
    border-radius: 0px;
}

#search {
    background: @base;
    padding: 10px;
    margin-bottom: 0;
}

#prompt {
    opacity: 0;
    min-width: 0;
    margin: 0;
}

#clear {
    opacity: 0;
    min-width: 0;
}

#input {
    background: none;
    color: @text;
    padding: 0;
}

#input placeholder {
    opacity: 0.5;
    color: @text;
}

#typeahead {
    opacity: 0;
}

#list {
    background: transparent;
}

child {
    padding: 0px 12px;
    background: transparent;
    border-radius: 0;
}

child:selected,
child:hover {
    background: transparent;
}

#item {
    padding: 0;
}

#icon {
    margin-right: 10px;
    -gtk-icon-transform: scale(0.7);
}

#text {
    color: @text;
    padding: 14px 0;
}

#label {
    font-weight: normal;
}

child:selected #text,
child:selected #label,
child:hover #text,
child:hover #label {
    color: @selected-text;
}

#sub {
    opacity: 0;
    font-size: 0;
    min-height: 0;
}

#activationlabel {
    opacity: 0;
    min-width: 0;
}

scrollbar {
    opacity: 0;
}

#spinner {
    opacity: 0;
}

#aiScroll,
#aiList,
.aiItem {
    opacity: 0;
    min-height: 0;
}

#bar {
    opacity: 0;
    min-height: 0;
}

.barentry {
    opacity: 0;
}
