[Unit]
Description=Swaybg Wallpaper
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/sh -c 'swaybg -o DP-3 -i "%h/Pictures/Wallpaper/wallpaper.jpg" -m fill & swaybg -o DP-2 -i "%h/Pictures/Wallpaper/wallpaper.jpg" -m fill & wait'
Restart=on-failure

[Install]
WantedBy=graphical-session.target
