* {
  font-family: "Iosevka Nerd Font";
  font-size: 11pt;
  font-weight: 600;
  border: none;
  border-radius: 0;
  min-height: 0;
}
window#waybar {
  color: #bbb3a9;
  background: #131210;
}
#workspaces button {
  padding: 0 8px;
  color: #bbb3a9;
  background: transparent;
}
#workspaces button.active {
  color: #131210;
  background: #e17a3f;
}
#workspaces button.urgent {
  color: #ddd5ca;
  background: #b34a45;
}
#workspaces button:hover {
  box-shadow: none;
  background: #58534c;
}
#custom-mango-window,
#mpris,
#custom-bar-dnd,
#network,
#pulseaudio,
#cpu,
#custom-bar-memory,
#custom-bar-gpu,
#clock,
#tray {
  padding: 0 8px;
}
#cpu {
  padding-right: 5px;
}
#custom-bar-cpu {
  padding-right: 8px;
}
#custom-bar-memory {
  color: #6785a1;
}
#custom-bar-dnd.paused,
#cpu,
#custom-bar-cpu {
  color: #e17a3f;
}
#custom-bar-gpu {
  color: #9a788f;
}
#pulseaudio {
  color: #879b5c;
}
#pulseaudio.muted {
  color: #b34a45;
}
#mpris.paused,
#mpris.stopped,
#custom-bar-gpu.unavailable,
#custom-bar-dnd.unavailable {
  color: #58534c;
}
tooltip {
  color: #ddd5ca;
  background: #131210;
  border: 1px solid #58534c;
}
