* {
  font-family: "Iosevka Nerd Font Propo";
  font-size: 14px;
  border: none;
  border-radius: 0;
  min-height: 0;
}
window#waybar { background: #131210; color: #bbb3a9; }
tooltip { background: #131210; border: 2px solid #58534c; }
tooltip label { color: #ddd5ca; }
#workspaces button { padding: 0 8px; color: #58534c; background: transparent; }
#workspaces button.active { color: #e17a3f; border-bottom: 2px solid #e17a3f; }
#workspaces button.urgent { color: #ddd5ca; background: #b34a45; }
#workspaces button:hover { color: #ddd5ca; box-shadow: none; }
#mpris { padding: 0 8px; color: #ddd5ca; }
#mpris.paused { color: #827b71; }
#pulseaudio.muted { color: #827b71; }
#clock { padding-right: 8px; }
