[Desktop Entry]
Version=1.0
Name=Zen Browser
Comment=Firefox based browser with a focus on privacy and customization
Exec=zen-browser %u
Icon=zen-browser
Terminal=false
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=zen-browser
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Exec=zen-browser

[Desktop Action new-private-window]
Name=New Private Window
Exec=zen-browser --private
