[Unit]
Description=Removable media automount
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/udiskie --automount --notify --tray
Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical-session.target
