[Unit]
Description=Hyprland idle manager
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/hypridle
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
