[Unit]
Description=Clipboard text history
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/bin/sh -c '/usr/bin/wl-paste --type text --watch /usr/bin/cliphist store'
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
