[Unit]
Description=Mitishell desktop shell
PartOf=graphical-session.target
Requires=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
ExecStart=/usr/bin/env MITISHELL_BIN=%h/.local/bin/mitishell /usr/bin/quickshell -n -p %h/.local/share/mitishell/shell
Restart=on-failure
RestartSec=2
Slice=session.slice

[Install]
WantedBy=graphical-session.target
