[Unit]
Description=On-screen display
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/swayosd-server
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
