window-rule {
  match app-id=r#"^(gnome-control-center|pavucontrol|nm-connection-editor|system-config-printer|nwg-look|qt6ct)$"#
  match app-id=r#"^(org\.gnome\.Calculator|gnome-calculator|galculator|blueman-manager)$"#
  match app-id=r#"^org\.gnome\.Nautilus$"# title=r#"^(File Upload|Open|Save|Save As|Select|Choose)(\b| - ).*$"#
  match app-id=r#"^xdg-desktop-portal.*$"#
  default-column-width { proportion 0.5; }
  default-window-height { proportion 0.7; }
  open-floating true
}

window-rule {
  match app-id=r#"^steam$"# title=r#"^notificationtoasts_\d+_desktop$"#
  default-floating-position x=10 y=10 relative-to="bottom-right"
  open-focused false
}

window-rule {
  match app-id=r#"^(firefox|org\.mozilla\.firefox|zen|app\.zen_browser\.zen)$"# title=r#"^Picture-in-Picture$"#
  default-column-width { fixed 480; }
  default-window-height { fixed 270; }
  default-floating-position x=24 y=24 relative-to="bottom-right"
  open-floating true
  open-focused false
}

window-rule {
  match app-id=r#"^(zoom|us\.zoom\.Zoom)$"#
  open-floating true
}

window-rule {
  match app-id=r#"org.quickshell$"#
  match app-id=r#"com.danklinux.dms$"#
  open-floating true
}
