@define-color background #131210;
@define-color container #1B1916;
@define-color surface #23201C;
@define-color overlay #58534C;
@define-color text #BBB3A9;
@define-color bright #DDD5CA;
@define-color subtle #9A938A;
@define-color primary #E17A3F;
@define-color green #879B5C;
@define-color red #B34A45;
@define-color yellow #D9A441;
@define-color blue #6785A1;

* {
  background-image: none;
  box-shadow: none;
  font-family: "AdwaitaMono Nerd Font Mono";
  font-size: 24px;
  font-weight: 600;
}

window {
  background-color: rgba(19, 18, 16, 0.55);
}

button {
  color: @text;
  background-color: alpha(@surface, 0.96);
  border: 1px solid alpha(@overlay, 0.55);
  border-radius: 8px;
  min-width: 240px;
  min-height: 160px;
  background-repeat: no-repeat;
  background-position: center 28px;
  background-size: 72px;
}

button:focus,
button:active,
button:hover {
  background-color: @container;
  color: @bright;
  border-color: @primary;
  outline-style: none;
}

#lock {
  background-image: url("icons/lock.svg");
}

#logout {
  background-image: url("icons/logout.svg");
}

#suspend {
  background-image: url("icons/suspend.svg");
}

#reboot {
  background-image: url("icons/reboot.svg");
}

#shutdown {
  background-image: url("icons/shutdown.svg");
}

#cancel {
  background-image: url("icons/cancel.svg");
}

#lock:focus,
#lock:active,
#lock:hover,
#logout:focus,
#logout:active,
#logout:hover {
  border-color: @blue;
  color: @blue;
}

#suspend:focus,
#suspend:active,
#suspend:hover {
  border-color: @yellow;
  color: @yellow;
}

#reboot:focus,
#reboot:active,
#reboot:hover {
  border-color: @primary;
  color: @primary;
}

#shutdown:focus,
#shutdown:active,
#shutdown:hover {
  border-color: @red;
  color: @red;
}

#cancel:focus,
#cancel:active,
#cancel:hover {
  border-color: @subtle;
  color: @subtle;
}
