window {
    margin: 0px;
    background-color: #191724;
    border-radius: 6px;
    border: 2px solid #9ccfd8;
    color: #e0def4;
    font-family: 'BerkeleyMono Nerd Font';
    font-size: 28px;
}

#input {
    margin: 4px;
    border-radius: 6px;
    border: none;
    color: #e0def4;
    background-color: #26233a;

}

#inner-box {
    margin: 4px;
    border: none;
    background-color: #26233a;
    color: #191724;
    border-radius: 6px;
}

#outer-box {
    margin: 14px;
    border: none;
    background-color: #191724;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 4px;
    border: none;
    color: #e0def4;
}

#entry:selected {
    background-color: #c4a7e7;
    color: #191724;
    border-radius: 6px;
    outline: none;
}

#entry:selected * {
    color: #191724;
    border-radius: 6px;
    outline: none;
